# Virtual environment, IDE, Python cache
venv/
.idea/
__pycache__/
*.pyc
*.pyo

# README file
README.md

# Environment and configuration secrets
.env
.env.runconfig

# Keys and configs
secretkey/

# Excel files
excel_datasource/