# DECIDE WHICH PIPELINES WILL BE RUN
RUN_GHTK_EXCELETL=
RUN_GHN_EXCELETL=
RUN_JTE_EXCELETL=
RUN_SPX_EXCELETL=
RUN_CODTVC_APIETL=
RUN_CUSBANK_APIETL=
RUN_INTERNALPRICE_APIETL=
RUN_RETURNEDORDERSCAN_APIETL=
RUN_DELIVERYORDERSCAN_APIETL=
RUN_DELIVERYORDERSHANDLINGTEAM_APIETL=
RUN_JTETRANSACTIONS_EXCELETL=
RUN_SPXTRANSACTIONS_EXCELETL=
RUN_GHNTRANSACTIONS_EXCELETL=
RUN_GHNCOINTRANSACTIONS_EXCELETL=
RUN_TIKTOKINCOME_EXCELETL=
RUN_NHANHVN_APIETL=
RUN_SHOPEE_APIETL=
RUN_TIKTOK_APIETL=
RUN_LAKETOWAREHOUSE_ETL=
UPDATEREPORT_GOOGLESHEET=
RUN_MBMMETAADS_APIETL=
RUN_MBMORDERTEST_APIETL=
RUN_POS_APIETL=


# DECIDE HOW PIPELINES RUN
# ------------------------------------------------------------------------------
# MYDU -------------------------------------------------------------------------
# ------------------------------------------------------------------------------

# GIAO HANG TIET KIEM ORDERS
GHTK_EXCEL_DELIVERYORDERS_ACC1=
GHTK_EXCEL_CANCELEDORDERS_ACC1=
GHTK_EXCEL_PAYMENTMINUTES_ACC1=
GHTK_EXCEL_COMPENSATIONS_ACC1=

# GIAO HANG NHANH ORDERS
GHN_EXCEL_DELIVERYORDERS_ACC6=
GHN_EXCEL_COINTRANSACTIONS_ACC6=
GHN_EXCEL_DELIVERYORDERS_ACC7=
GHN_EXCEL_COINTRANSACTIONS_ACC7=

# JT EXPRESS ORDERS
JTE_EXCEL_DELIVERYORDERS_ACC1=
JTE_EXCEL_DELIVERYORDERS_ACC2=
JTE_EXCEL_DELIVERYORDERS_ACC3=
JTE_EXCEL_DELIVERYORDERS_ACC4=

# DELIVERY TRANSACTION DATA
JTE_EXCEL_TRANSACTION_FOLDERPATH=
GHN_EXCEL_TRANSACTION_FOLDERPATH=
GHN_EXCEL_COINTRANSACTION_FOLDERPATH=

# NHANHVN ORDERS
# The time part must be 00:00:00
NHANHVN_API_ORDERS_STARTDATE=
# The time part must be 23:59:59
NHANHVN_API_ORDERS_ENDDATE=

# SHOPEE ORDERS AND TRANSACTION
# The time part must be 00:00:00
SHOPEE_API_ORDERS_STARTTIME=
# The time part must be 23:59:59
SHOPEE_API_ORDERS_ENDTIME=
# The time part must be 00:00:00
SHOPEE_API_INCOME_STARTTIME=
# The time part must be 23:59:59
SHOPEE_API_INCOME_ENDTIME=

# TIKTOK ORDERS AND TRANSACTION
# The time part must be 00:00:00
TIKTOK_API_ORDERS_STARTTIME=
# The time part must be 23:59:59
TIKTOK_API_ORDERS_ENDTIME=
TIKTOK_EXCEL_INCOME_FOLDERPATH=

# UPDATE REPORTS
UPDATEREPORT_REPORTMONTH=
UPDATEREPORT_REPORTYEAR=
UPDATEREPORT_WITHIN1MONTH_STARTDATE=

# ------------------------------------------------------------------------------
# MAY BY MAY--------------------------------------------------------------------
# ------------------------------------------------------------------------------

# MAY BY MAY GIAO HANG NHANH ORDERS
MAYBYMAY_GHN_EXCEL_DELIVERYORDERS_ACC1=
MAYBYMAY_GHN_EXCEL_COINTRANSACTIONS_ACC1=

# MAY BY MAY JT EXPRESS ORDERS
MAYBYMAY_JTE_EXCEL_DELIVERYORDERS_ACC1=

# MAY BY MAY DELIVERY TRANSACTION DATA
MAYBYMAY_JTE_EXCEL_TRANSACTION_FOLDERPATH=
MAYBYMAY_GHN_EXCEL_TRANSACTION_FOLDERPATH=
MAYBYMAY_GHN_EXCEL_COINTRANSACTION_FOLDERPATH=

# MAY BY MAY POS ORDERS
MAYBYMAY_POS_API_ORDERS_STARTDATE=
MAYBYMAY_POS_API_ORDERS_ENDDATE=

# MAY BY MAY UPDATE REPORTS
MAYBYMAY_UPDATEREPORT_STARTDATE=
MAYBYMAY_UPDATEREPORT_ENDDATE=
MAYBYMAY_UPDATEREPORT_ADS_STARTDATE=
MAYBYMAY_UPDATEREPORT_ADS_ENDDATE=
MAYBYMAY_UPDATEREPORT_SALARY_MONTH=
MAYBYMAY_UPDATEREPORT_SALARY_YEAR=