# DATABASE
DW_HOST_MYDU=warehouse
DW_USER_MYDU=
DW_PASSWORD_MYDU=
DW_DATABASENAME_MYDU=mydudw
DW_PORT_MYDU=3306
DW_HOST_MAYBYMAY=warehouse
DW_USER_MAYBYMAY=
DW_PASSWORD_MAYBYMAY=
DW_DATABASENAME_MAYBYMAY=maybymaydw
DW_PORT_MAYBYMAY=3306

# GOOGLE SHEET DATA SOURCES, EACH SOURCE IS JUST IN ONE SHEET
GGSHEET_CUSBANK_IDFILE=
GGSHEET_CUSBANK_IDSHEET=
GGSHEET_INTERNALPRICE_IDFILE=
GGSHEET_INTERNALPRICE_IDSHEET=
GGSHEET_DELIVERYORDERSCAN_IDFILE=
GGSHEET_DELIVERYORDERSCAN_IDSHEET=
GGSHEET_METAADS_MAYBYMAY_IDFILE=
GGSHEET_METAADS_MAYBYMAY_IDSHEET=
GGSHEET_TESTORDERS_MAYBYMAY_IDFILE=
GGSHEET_TESTORDERS_MAYBYMAY_IDSHEET=
GGSHEET_CODEEXPLAIN_NHANHVN_IDFILE=
GGSHEET_CODEEXPLAIN_NHANHVN_IDSHEET=
GGSHEET_CODEEXPLAIN_POS_MAYBYMAY_IDFILE=
GGSHEET_CODEEXPLAIN_POS_MAYBYMAY_IDSHEET=
GGSHEET_UPDATEREPORTS_IDFILE=
GGSHEET_UPDATEREPORTS_IDSHEET=
GGSHEET_UPDATEREPORTS_MAYBYMAY_IDFILE=
GGSHEET_UPDATEREPORTS_MAYBYMAY_IDSHEET=
GGSHEET_SHOPEE_TOKEN_IDFILE=
GGSHEET_SHOPEE_TOKEN_IDSHEET=
GGSHEET_TIKTOK_TOKEN_IDFILE=
GGSHEET_TIKTOK_TOKEN_IDSHEET=

# GOOGLE SHEET DATA SOURCES, EACH SOURCE CONTAINS MANY SHEETS
GGSHEET_RETURNEDORDERSCAN_IDFILE=
GGSHEET_RETURNEDORDERSCAN_IDSHEET_1=
GGSHEET_RETURNEDORDERSCAN_IDSHEET_2=
GGSHEET_RETURNEDORDERSCAN_IDSHEET_3=
GGSHEET_RETURNEDORDERSCAN_IDSHEET_4=
GGSHEET_RETURNEDORDERSCAN_IDSHEET_5=
GGSHEET_CODTVC_IDFILE_1=
GGSHEET_CODTVC_IDSHEET_1=
GGSHEET_CODTVC_IDFILE_2=
GGSHEET_CODTVC_IDSHEET_2=
GGSHEET_CODTVC_IDFILE_3=
GGSHEET_CODTVC_IDSHEET_3=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDFILE_1=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_1_1=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_1_2=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_1_3=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_1_4=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_1_5=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_1_6=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_1_7=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDFILE_2=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_2_1=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_2_2=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_2_3=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_2_4=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_2_5=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_2_6=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_2_7=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDFILE_3=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_3_1=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_3_2=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_3_3=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_3_4=
GGSHEET_DELIVERYORDERSHANDLINGTEAM_IDSHEET_3_5=

# NHANHVN API KEY
NHANHVN_APPID_ACC1=
NHANHVN_BUSINESSID_ACC1=
NHANHVN_ACCESSTOKEN_ACC1=

# POS API KEY
POS_APIKEY_MAYBYMAY_ACC1=
POS_SHOPID_MAYBYMAY_ACC1=